
/* 언어설정 */
@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Play:wght@400;700&display=swap');

/* 전체설정 */

*{margin: 0;
  padding: 0;}

ul, ol {list-style: none;}

a {text-decoration: none;
   color: #bbb;}

img {border: none;
     vertical-align: bottom;}


    /* 단일페이지 구조만들기 */

body {position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #111;}

/* 배경에 동영상 깔기 */
.vid {width: 100%;
      height: 100%;
      position: fixed;
      top: -60px;}


.vid video {width: 100%;
            height: auto;
            min-width: 1600px;
           }



/* setting about logo, header */

h1 {position: fixed;
    top: 40px;
    left: 40px;
    z-index: 999;}

h1 img {width: 280px;
        height: auto;}


header {width: 700px;
        height: 100%;
        background: linear-gradient(-45deg, #e6fc55 , #b9fb05 , #97e031);
        position: fixed;
        transform: skewX(-40deg);
        top: 0;
        left: -420px;}





/* 1depth###################################### */


.gnb {position: absolute;
      right: 0;
      top: 150px;
      width: 220px;
      }
.gnb>li {position: relative;}
.gnb>li>a {display: block;
           width: 220px;
           height: 50px;
           text-align: right;
           font-size: 18px;
           line-height: 3;
           padding-right: 40px;
           box-sizing: border-box;
           font-family: "Play", serif;
           color: #222;
           font-weight: bold;}

.gnb>li.on>a {background-color: #111;
              color: #fff;}



.gnb em {transform: skew(40deg)!important;
         display: inline-block;
         font-style: normal;}


.gnb>li:hover>a {background-color: #111;
                 color: #fff;}  




/* 2depth############################################ */

.gnb ul {position: absolute;
         left: 0;
         top: 0;
         transition: all 0.4s;
         opacity: 0;
        }



.gnb>li:hover ul {left: 205px;
                  opacity: 0.8;}


.gnb ul li {}

.gnb ul li a {display: block;
              width: 150px;
              height: 40px;
              font-size: 16px;
              font-family: Arial, Helvetica, sans-serif;
              font-weight: bold;
              line-height: 2.5;
              background-color: #222;
              border-bottom: 1px solid #b9fb05;
              box-sizing: border-box;
              padding-left: 50px;
              margin-bottom: 3px;
              transition: all 0.5s;}

.gnb>li.on ul {left: 205px;
               opacity: 0.5;
               top: -10px;}

.gnb ul a:hover {background-color: #b9fb05;
    color: #333;}




/* 텍스트박스 설정########################################################## */



.txtBox {width: 340px;
         height: 240px;
         
         /* 전체화면 동영상으로 설정되어 position: fixed;해야 텍스트박스 보임 */
         position: fixed;
         right: 70px;
         top: 50%;
         margin-top: -120px;}


.txtBox p {position: absolute;}

.txtBox p:nth-child(1) {font-size: 160px;
                        color: #b9fb05;
                        letter-spacing: -1px;
                        font-family: "Monoton", serif;;
                        }

.txtBox p:nth-child(2) {bottom: 0;
                        right: 0;
                        font-size: 34px;
                        letter-spacing: -2px;
                        font-family: play;
                        color: #bbb;}





.txtBox em {font-size: 50px;
            font-family: play;
            color: #fff;}

.txtBox b {font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            color: #b9fb05;}

























/* side와 contents 설정##############################################*/

.side {width: 800px;
       height: 100%;
       position: fixed;
       top: 0;
       right: -800px;
       background-color: #111;
       opacity: 0.5;
       transform: skewX(-40deg);
       transition: all 0.5s;}

.side:hover {right: -500px;
             opacity: 0.8;}

.side .con {width: 400px;
            height: 100%;
            background-color: #000;
            position: absolute;
            bottom: 0;
            left: 150px;
            transition: all 1s;}

.side:hover .con {left: 50px;}




.side .con p {width: 300px;
              height: 100px;
              position: absolute;
              left: 50px;}



.side .con em {color: #a0bd50;
               font-weight: bold;
               font-size: 16px;
               font-family: Arial, Helvetica, sans-serif;
               transform: skewX(40deg);
               display: inline-block;
               }




.side .con a {}


.side .con img {width: 300px;
                height: 70px;
                opacity: 0.3;}



.side .con p:nth-child(1) {bottom: 270px;}
.side .con p:nth-child(2) {bottom: 160px;}
.side .con p:nth-child(3) {bottom: 50px;}




/* 이미지 3장의 위치를 바꾸는 첫 번째 방법########################################################## */
/* 위치로 조절 
.side .con p {transition: all 1.0s;}


.side .con p:nth-child(1) {left: 210px;}
.side .con p:nth-child(2) {left: 140px;}
.side .con p:nth-child(3) {left: 70px;}

.side:hover .con p {left: 50px;}


*/



/* 이미지 3장의 위치를 바꾸는 두번째 방법########################################################## */
/* 시간으로 조절 */


.side .con p {transform: translateX(200px);}

.side .con p:nth-child(1) {transition: all 1.2s;}
.side .con p:nth-child(2) {transition: all 0.8s;}
.side .con p:nth-child(3) {transition: all 0.4s;}


.side:hover .con p {transform: translateX(0);}