/* 언어설정 */
@charset 'utf-8';

@font-face {
   font-family: 'Pretendard-Regular';
   src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}
@font-face {
  font-family: 'HoltwoodOneSC-Regular';
  src: url('font/HoltwoodOneSC-Regular.ttf') format('ttf');
}


@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

/* reset css*/
* {margin: 0;
   padding: 0;
   
  }

a {text-decoration: none;
   color: #000;
   outline: none;}

ul, ol {list-style: none;}

img {vertical-align: bottom;
     border: none;}

     

body {background-color: #fff; 
  font-family: 'Pretendard-Regular';}

.header {width: 100%;
        height: 100px;
        position: fixed;
        z-index: 999;}


.contents {width: 100%;
        /* height: auto;쓰지말기 */
        perspective: 1500px;
        




      
      }

.contents>div {

display: none;


}

.contents>div.on {

 display: block;

}


/* 헤더 설정 */
.header  {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(73, 201, 245, 0);
      transition: background-color 0.3s ease;
      
      
       }

.header .logo {
               position: absolute;
               left: 50%;
               margin-left: -140px;

           }
.header .logo a {color: #fff;
             display: block;
             padding: 10px;}



.header .logo a img {width: 100%;}


.header.scrolled {
  background-color: rgba(73, 201, 245, 0.9);
}

.gnb {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
     
      }
.gnb>ul {display: flex;
        justify-content: center;
        align-items: center;}
.gnb>ul>li {display: inline-block;
  white-space: nowrap;}
.gnb>ul>li:nth-child(2) {margin-right: 200px;}
.gnb>ul>li:nth-child(3) {margin-left: 200px;}
.gnb>ul>li>a {display: block;
     color: #fff;
     font-size: 18px;
     padding: 10px 50px;
     text-align: center;
    white-space: nowrap;
    text-decoration: underline;}

.gnb>ul>li>a:hover {color: #ccc;}






.util {position: absolute;
       top: 0;
       right: 0;
       margin-right: 50px;
       /* padding: 25px;*/} 
.util ul {display: flex;}
.util ul li {}
.util a {display: block;
      color: #fff;
     padding: 10px;
     position: relative;}

.util a:hover {color: #ccc;}        
.util span {display: inline-block;
         text-indent: -9999px;

         }


.util .num {position:absolute;
         width: 12px;
         height: 12px;
         font-size: 10px;
         right: 2px;
         top: 5px;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;}




/* 메인페이지 설정 */

.main {background-color: #49C9F5;}

 /* hero 설정 */
 .hero {width: 100%;
        height: 100vh;
        position: relative;
        margin-bottom: 100px;}
        /* 부모 높이 값이 기준이 있어야 100% 쓸 수 있음 */
 .mainImg {width: 100%;
           height: 100%;
          overflow: hidden;    /* 꼭 들어가야함 위치 설정할때는 주석으로 감추기 */
          z-index: 1;}
 .mainImg ul {width: 100%;
              height: 100%;
               position: relative;}
 .mainImg ul li {
                 position: absolute;
                 width: 100%;
                 height: 100%;
                 left: 100%;
                 display: none;}

  .mainImg>ul>.up {display: block;}               


  
.imgWrap {
    position: relative;
    width: 100%;
    height: 100%;
}


.imgWrap img {
    position: absolute;
    max-width: 100%;
}




 .mainImg ul li:nth-child(1) {left: 0;
  background-color: #24A9AF;}



/* 첫 번째 li의 이미지들 */
.mainImg ul li img:nth-child(1) { /* 텍스트 이미지 */
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 3; 
}


.mainImg ul li img:nth-child(2) { /* 아이스크림 통 */
  bottom: -45%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  z-index: 2; 
}


.mainImg ul li img:nth-child(3) { /* 파티클 효과 */
  bottom: -20px;
  
  scale: 0.8;
  transform: rotateX('30deg');
  width: 100%;
  margin: 0 auto;
  opacity: 1;
  z-index: 1;
  transform-origin: bottom center;
  transition: all 10s;
  
}


.mainImg ul li img:nth-child(4) { /* 원형 */
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  opacity: 1;
}



.hero>img {position: absolute;
           width: 130%;
           bottom: 0;
           margin-bottom: -50px;
           left: 50%;
           transform: translateX(-50%);
           z-index: 2;}





.mainImg:hover ul li img:nth-child(3) {scale: 1;}  

/* 나머지 히어로부분############################################################ */



.mainImg ul li:nth-child(2) {left: 0;
  background-color: #FF6725;}


  .mainImg ul li:nth-child(3) {left: 0;
    background-color: #86BA51;}  




/* product 부분###################################################################### */
.product {padding: 140px 0;}
.product .title001 {display: flex;
                      justify-content: center;
                      align-items: center;
                      position: relative;
                      padding: 40px 0 150px 0;}

.product .title001 span {
  
                            font-size: 30px;
                            font-family: 'Pretendard-Regular';
                            font-weight: 900;
                            color: white; 
                            letter-spacing: 5px;
                            position: absolute;
                            left: 50%;
                            top: 0;
                            margin-left: -450px;
                           }




  .proList1 {
              width: 100%;
             margin: 0 auto;
              position: relative;
              /* height: 1680px; */
              display: flex;
               justify-content: center;} 



  .proList1 .left {position: absolute;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 3px solid #1C1E19;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    left: 0;
                    top: 50%;
                    margin-top: -10px;
                    font-size: 30px;
                    color: #1C1E19;
                  z-index: 3;}

  .proList1 .left i {} 

  .proList1 .right {position: absolute;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border-radius: 50%;
                    border: 3px solid #1C1E19;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    right: 0;
                    top: 50%;
                    margin-top: -10px;
                    font-size: 30px;
                    color: #1C1E19;
                    z-index: 3;} 

  .proList1 .right i {} 



  .proList1 .left:hover {border: 3px solid #fff;
                         color: #fff;}

  .proList1 .right:hover {border: 3px solid #fff;
                         color: #fff;}


  .proList1 .left:active {
                background-color: #24657a;
                transform: scale(0.98);
            }


  
                    
     


    .proList1 .container {
                         width: 100%;
                         height: 630px;
                         /* overflow: hidden; */
                        }
    .proList1 .container ul {display: flex;}
    .proList1 .container li {margin: 0 10px;
                             width: 390px;
                             height: 630px;
                             box-sizing: border-box;
                             display: flex;
                             flex-direction: column; /* 세로 정렬 */
                             align-items: center;
                             position: relative;}




    @keyframes popUp {
    0% { transform: scale(0); }
    /* 60% { transform: scale(1.2); } */
    100% { transform: scale(1); }
}


    .proPic {width: 390px;
             height: 410px;
             position: relative;
             }


.proPic img:first-child {
    position: absolute;
    top: 280px;
    left: 3%;
    display: block;
    transform: scale(0);
    opacity: 0;  
}
.container li:hover .starHover {
  animation: popUp 0.5s ease-out forwards;
  opacity: 1;  
}

.proPic img:last-child {
    position: absolute;
    

}

@keyframes ani1 {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.container li:hover .proPic > img:last-child {
  animation: ani1 0.6s ease-in-out 2 forwards;
}
    .proTextbox {padding: 50px 0 0 0;
                 }
    .proTextbox .proName {}
    .proTextbox .proIngre {text-align: center;
                           font-size: 20px;
                           font-family: 'Pretendard-Regular';
                           color: #353634;
                           white-space: nowrap;
                           margin-bottom: 10px;
                          }
    .proTextbox .proPrice {color: #1C1E19;
                           text-align: center;
                           font-size: 20px;
                           font-family: 'Pretendard-Regular';
                           margin: 10px 0;}



    .shopNow {display: inline-block;
              justify-content: center;
              align-items: center;
              padding: 10px 100px;
              color: #1C1E19;
              text-align: center;
              font-size: 20px;
              font-family: 'Pretendard-Regular';
              background-color: #49C9F5;
              border: 2px solid #1C1E19;
              border-radius: 40px;
              white-space: nowrap;
              transition: background-color , transform 0.1s ease;
              }


              .container .shopNow:hover { 
                background-color: #FFB700; 
            }
            
            .container li:hover .shopNow {
              background-color: #FFB700;
            }
            
            /* 클릭할 때 배경색 변경 (우선순위를 높이기 위해 li까지 포함) */
            .container li:active .shopNow, 
            .container .shopNow:active {
                background-color: #cef3ff;
                transform: scale(0.98);
            }


            .newTap {
              position: absolute;
              top: 50%;  
              left: 50%;
              transform: translate(-50%, 330%);
              background-color: #FFB700; 
              color: #1C1E19;
              padding: 3px 15px;
              font-size: 20px;
              font-family: 'Pretendard-Regular';
              font-weight: 500;
              border-radius: 30px;
              border: 1px solid #111;
          }


/* ingredients info 부분############################################################### */



.ingreInfo {padding: 200px 0;
          background-image: url(img/iconCard_back_002.png);
           background-size: cover;
           }
.ingreInfo .title002 {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      position: relative;
                      padding: 40px 0 0 0;}
.ingreInfo .title002 span {
  
                            font-size: 30px;
                            font-family: 'Pretendard-Regular';
                            font-weight: 700;
                            color: white; 
                            text-shadow:  
                                        -3px -3px 0 #229CC6,  
                                         3px -3px 0 #229CC6,  
                                        -3px  3px 0 #229CC6,  
                                         3px  3px 0 #229CC6,  
                                        -3px  0px 0 #229CC6,  
                                         3px  0px 0 #229CC6,  
                                         0px -3px 0 #229CC6,  
                                         0px  3px 0 #229CC6; 
                            letter-spacing: 5px;
                            position: absolute;
                            left: 50%;
                            top: 0;
                            margin-left: -681px;}




   
    .ingreInfo .list2 {}
    .ingreInfo .list2 ul {display: flex;
                    justify-content: center;
                    
                   
               }
    .ingreInfo .list2 li {margin: 200px 80px; 
                          width: 360px;
                          height: 500px;
                          position: relative;
                          box-sizing: border-box;
                          }
   
    .ingreInfo .list2 .cardpic {width: 360px;
      height: 500px;
                     position: relative;
                     background-color: #fff;
                     border: 8px solid #00CDFF;
                     border-radius: 17px;
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     align-items: center;
                     
                     transform: rotateY(0);
                     transition: all 0.8s;
                     z-index: 2;
                     backface-visibility: hidden;
                    }





    .cardpic>img {width: 70%;
                  height: 70%;
                  object-fit: contain;
                  position: absolute;
                  top: 10%;
                  
                  }
    .cardpic span {position: absolute;
      
                   left: 50%;
                   margin-left: -180px;
                   top: 0;
                   margin-bottom: -230px;

                   
                   width: 100%;
                   height: 100%;
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   
                   }

    .cardpic span img {object-fit: contain;
                      
                      max-width: 90%;
                      max-height: 90%;
                      height: auto;}
   
   
   
    .ingreInfo .list2 .cardtext {width: 360px;
                                height: 500px;
                                
                                background-color: #fff;
                                border: 8px solid #00CDFF;
                                border-radius: 17px;
                                position: absolute;
                                left: 0;
                                top: 0;
                                transform: rotateY(180deg);
                                
                                backface-visibility: hidden;
                                transition: all 0.8s;}


    .cardtext img {width: 100%;
                   height: auto;
                   position: absolute;
                   top: 0;
                   left: 0;}

    .cardtext span {font-size: 16px;
                    font-family: 'Pretendard-Regular';
                    font-weight: 600;
                    color: #49C9F5;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 13%;
                    left: 50%;
                    margin-left: -180px;
                    
                    }
    .cardtext p { width: 100%;
                  height: 100%;
                  font-size: 20px;
                  font-family: 'Pretendard-Regular';
                  font-weight: 800;
                  color: #49C9F5;
                  text-align: center;
                  display: flex;
                  justify-content: center; 
                  align-items: center;
                  padding: 10px 0;
                  line-height: 1.8;}

/* 카드 위치 조절################################################## */
.ingreInfo .list2 li:nth-child(1) {top: 100px;
                                   transform: rotateZ(-5deg);}
.ingreInfo .list2 li:nth-child(2) {top: -50px;
                                    transform: rotateZ(4deg);}
.ingreInfo .list2 li:nth-child(3) {top: 120px;
                                   transform: rotateZ(2deg);}

/* 카드 호버값 설정############################################### */

   .ingreInfo .list2 li:hover .cardtext {opacity: 1;
                                transform: rotateY(0);}
   .ingreInfo .list2 li:hover .cardpic {opacity: 0;
                              transform: rotateY(180deg);}






/* story 설정################################################################## */


.story {padding: 300px 0 0 0;
        width: 80%;
        height: auto;
        margin: 0 auto;}
.story_box {position: relative;
}

.story_box .back_box {width: 100%;
                      height: 2080px;
                      position: absolute;}
.back_box ul {position: relative;
              width: 100%;
              height: 100%;}



.back_box li:nth-child(1) {position: absolute;
                           width: 100%;
                           top: 0;
                           left: 50%;
                           margin-left: -700px;
                          }
.back_box .story_001 {position: relative;
                          }



.back_box .storyText_001 {width: 1150px;
                          height: 710px;
                          background-color: #F4FCFF;
                          border: 3px solid #939393;
                          border-radius: 50px;
                          padding: 80px 80px 100px 80px;
                          box-sizing: border-box;
                          display: inline-block;
                          position: absolute;} 



.back_box .storyPic_001 {max-width: 405px;
                         height: auto;
                         border: 3px solid #939393;
                         border-radius: 50px;
                         background-color: #fff;
                         overflow: hidden;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         position: absolute;
                         top: 0;
                         margin-top: -100px;
                         left: 50%;
                         margin-left: 100px;

                         }

.storyPic_001 img {width: 90%;
                   height: auto;
                   }





.back_box li:nth-child(2) {width: 100%;
                           height: auto;
                           position: absolute;
                           top: 25%;
                           left: 56%;
                           
                           
                          }


.storyPic_002 {border: 3px solid #939393;
               border-radius: 50px;
               overflow: hidden;
               width: 435px;
               height: 370px;
               display: flex;
               justify-content: center;
               align-items: center;
               margin: 0px 0px 50px 300px;
               }

.storyPic_002 img {width: 100%;
                   height: auto;}


.back_box .storyText_002 {background-color: #F4FCFF;
  border: 3px solid #939393;
  border-radius: 50px;
  padding: 50px 50px 50px 150px;
  display: inline-block;
  position: absolute;} 








.story_box .img_box {width: 700px;
                     max-width: 800px;
                     height: auto;
                     position: relative;
                     z-index: 7;
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     transform: translate(-50%, -50%);
                     margin-top: -250px;
                     }
.story_box .img_box img {width: 100%;}





.story_box .front_box {width: 100%;
                       height: 2080px;
                       position: relative;
                       z-index: 8;}
.front_box ul {}
.front_box li {}

.front_box .storyPic_003 {width: 440px;
                          height: 535px;
                          transform-origin: top center;
                          position: absolute;
                          top: 50%;
                          left: 15%;
                          transform: translateY(-100%) rotateZ(15deg);
}


.storyPic_003 img {}
.storyPic_003 span {display: block;
                    position: absolute;
                    bottom: 80px;
                    left: 80px;
                  }



.front_box li:nth-child(2) { position: absolute;
  bottom: 40%;
  left: 10%;
  width: 100%;}
.story_004 {position: relative;
             }

.storyPic_004 {position: absolute;
               bottom: -60px;
               left: -10%;
               transform-origin: right bottom;
               transform: rotateZ(-15deg);
               }
.storyPic_004 img {width: 400px;
                   height: auto;}



.storyText_004 {position: absolute;
                background-color: #F4FCFF;
                border: 3px solid #939393;
                border-radius: 50px;
                padding: 50px;
                display: inline-block;}





.front_box li:nth-child(3) {position: absolute;
                            width: 100%;
                            right: -45%;
                            bottom: 25%;}
.story_005 {position: relative;
            width: 100%;}

.story_005 .storyText_005 {background-color: #F4FCFF;
                           border: 3px solid #939393;
                           border-radius: 50px;
                           padding: 50px;
                           display: inline-block;
                           position: absolute;
                           }


.story_005 .storyPic_005 {position: absolute;
                          top: 0;
                          margin-top: -240px;
                          right: 50%;
                          transform: translateX(-15%)}

.storyPic_005 img {width: 300px;
                   max-width: 500px;
                   height: auto;}















.story_box h3 {font-size: 30px;
               color: #1C1E19;
               font-family: 'Pretendard-Regular';
               font-weight: 800;
               text-align: left;
               margin-bottom: 25px;}

.story_box span {font-size: 20px;
               color: #1C1E19;
               font-family: 'Pretendard-Regular';
               font-weight: 500;
               text-align: left;
               line-height: 1.6;}




/* review 설정################################################################## */


.review {padding-bottom: 200px;}

.review .title002 {display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px 0 230px 0;}

.review .title002 span {

        font-size: 30px;
        font-family: 'Pretendard-Regular';
        font-weight: 900;
        color: white; 
        letter-spacing: 5px;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -552px;
       }







  .reviewSection {width: 100%;
                  margin: 0 auto;
                  position: relative;
                  /* height: 1680px; */
                  display: flex;
                  flex-direction: column;
                  justify-content: center;}
  .container2 {width: 100%;
                  height: auto;
                  /* overflow: hidden; */
                }
  .container2 ul {display: flex;
                  padding-bottom: 70px;}
  .container2 li {margin: 0 10px;
                  width: 420px;
                  height: 580px;
                  box-sizing: border-box;
                  display: flex;
                  flex-direction: column; /* 세로 정렬 */
                  align-items: center;
                  background-color: #D2EFF9;
                  border: 3px solid #FFB700;
                  border-radius: 40px;
                  }
  .container2 li a {}


  .container2 li:hover {background-color: #F4FCFF;}




  .container2 .upperText {display: flex;
    flex-direction: column;
    padding: 25px 0 10px 0;}
  .container2 .upperText img {display: flex;
                              justify-content: center;
                              align-items: center;}
  .container2 .upperText span {text-align: center;
                               font-size: 16px;
                               color: #1C1E19;
                               font-family: 'Pretendard-Regular';
                               font-weight: 700;}


  .container2 .reviewImg {border-radius: 40px;
                          border: 2px solid #D8E1E4;
                          overflow: hidden; 
                          width: 385px; 
                          height: auto;
                          }
  .container2 .reviewImg img {width: 100%; 
                              height: 100%; 
                              object-fit: cover;}


  .container2 .lowerText {text-align: center;
                          padding: 15px 0;
                          width: 100%;
                          height: 160px;
                          position: relative;}
  .container2 .lowerText>div {color: #FFB700;
                             padding-bottom: 10px;}
  .container2 .lowerText>p {
                            font-size: 21px;
                            color: #1C1E19;
                            font-family: 'Pretendard-Regular';
                            font-weight: 400;
                            }
  .container2 .lowerText>em {font-style: normal;
                             color: #707070;
                             font-size: 16px;
                             font-family: 'Pretendard-Regular';
                             font-weight: 700;
                             position: absolute;
                             bottom: 0;
                             left: 50%;
                             transform: translateX(-50%);
                             }

/* 


  .more {

        text-align: center;
        
        
    }
    
    
    
    
    
  .more a {
    
        
        padding: 2px 7px;
        border: 0.75px solid #1C1E19;
        border-radius: 5px;
        text-align: center;
        color: #1C1E19;
        background-color: transparent;
        font-size: 24px;
        font-family: 'Pretendard-Regular';
        font-weight: 500;
        display: inline-block;
        
    
    }


  .more:hover a {border: 0.75px solid #D2EFF9;
                 color: #49C9F5;
                background-color: #fff;}


  .more:active a {
                color: #fff;
                background-color: #24657a;
                transform: scale(0.98);
            }
 */








 /* FOOTER######################################################################################## */

 footer {display: flex;
         width: 100%;
         height: auto;
         background-color: #BDDE47;
         justify-content: space-between;
         align-items: flex-end;
         padding: 100px;
         
        }
 .fLeftside {width: 50%;
             display: flex;
             flex-direction: column;}
 .fimgBox_001 {padding-bottom: 40px;}
 .fimgBox_001 img {max-width: 428px;}
 .fimgBox_001 p {font-size: 26px;
                 color: #505050;
                 font-family: 'Pretendard-Regular';
                 font-weight: 600;
                 padding-top: 20px;
                 }


 
.email-form {
    display: flex;
    align-items: center;
    background: none;
    border: 4px solid #505050;
    border-radius: 50px;
    overflow: hidden;
    width: 350px;
    margin: 50px 0;
}

.email-form input {
    flex: 1;
    border: none;
    padding: 12px 12px 12px 20px;
    font-size: 16px;
    outline: none;
    background: none;
}

.email-form button {
    background: none;
    border: none;
    border-left: 4px solid #505050;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    color: #505050;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.copyright {color: #505050;
            font-size: 16px;
            font-family: 'Pretendard-Regular';
            line-height: 1.5;
           }






.fRightside {margin-right: 200px;}

.pintLogo img {
  width: 200px;
  height: auto;
  opacity: 0.3;
}

.snsIcons {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  box-sizing: border-box;
  font-size: 20px;
}

.snsIcons i {
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s;
}

.snsIcons i:hover {
  opacity: 0.8;
}



/* product 페이지 설정 */




/* gnb 디테일 변경 */
.header.sub .gnb > ul > li > a {
  color: #1C1E19; 
}

.header.sub .gnb > ul > li > a:hover {
  color: #666; 
}

.header.sub .util a {
  color: #1C1E19; 
}

.header.sub .util a:hover {
  color: #666; 
}
.header.sub {
  background-color: rgba(255, 255, 255, 0.8); 
  transition: none; /* 불필요한 애니메이션 제거 */
}




.product {width: 90%;
          height: auto;
          margin: 0 auto;
          padding: 300px 0;}


.productPage {}
.productPage .proDetails {width: 100%;
                         height: auto;
                         display: flex; /* flexbox 사용 */
                         justify-content: space-between; /* 양쪽 영역을 떨어뜨림 */}


.proDetails .deLeftside {
                         /* float: left; */
                         width: 48%;
                         box-sizing: border-box;

                         /* overflow: hidden; */
                         
                        
                         padding: 0 2%;
                         position: relative;
                         border-radius: 10px;

                         

                         }

.deLeftside ul {
  width: 800px;
  max-width: 800px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.5s ease; 
                      }

.deLeftside li {
                box-sizing: border-box;
                
                
                }  

.deLeftside .deImgbox img {
  
  display: flex;
  overflow: hidden;
  object-fit: contain;
  
  }



  .slideBar {display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;}

  .slideBar>div {width: 75px;
                 height: 5px;
                 border-radius: 10px;
                 background-color: #D9D9D9;
                margin: 5px;}

  .slideBar>div:nth-child(1) {background-color: #FFB700;}  




.proDetails .deRightside { width: 48%;
                         box-sizing: border-box;
                         padding-left: 2%;}




/* 공통 텍스트 설정 */
.deRightside h4 {font-size: 20px;
                 color: #080807;
                 font-family: 'Pretendard-Regular';
                 font-weight: 900;
                 margin-bottom: 3px;

                 
                 }   
.deRightside p {font-size: 20px;
                color: #515151;
                font-family: 'Pretendard-Regular';
                font-weight: 300;
                line-height: 1.3;
              }
.deRightside em {font-size: 36px;
                 color: #080807;
                 font-family: 'Pretendard-Regular';
                 font-weight: 500;
                 font-style: normal;
                 padding: 50px 0;
                 display: block;} 
.deRightside span {font-size: 17px;
                   color: #080807;
                   font-family: 'Pretendard-Regular';
                   font-weight: 500;
                   }  
                   
                   



                   

.deRightside .deMain {padding-bottom: 100px;
                      border-bottom: 0.85px solid #1C1E19;
                      }

.deMain img {margin-bottom: 3px;}

.deMain .add {}
.deMain .add a {background-color: #FFB700;
                color: #fff;
                padding: 15px 300px;
                border-radius: 50px;
                font-size: 28px;
                font-family: 'Pretendard-Regular';
                font-weight: 900;
                }




.deInfo {padding: 80px 0;
  border-bottom: 0.85px solid #1C1E19;}
.deInfo>h4 {margin-bottom: 10px;}





.deIngre {padding: 80px 0;
  border-bottom: 0.85px solid #1C1E19;}
.deIngre>div {margin-top: 15px;}
.deIngreS>div {display: flex;
               padding: 5px 0;}
.deIngreS>div>img {width: 17px;
                   height: 17px;
                  padding-right: 8px;
                   margin-top: 4px;}





.deVal {padding: 80px 0;
        border-bottom: 0.85px solid #1C1E19;}



.valimgBox {width: 90%;
            height: auto;
            margin-top: 40px;
            }
.valimgBox .firstBox {display: flex;
                      margin-left: -8px;
                      }

.valimgBox .indiviBox {display: flex;
                      flex-direction: column;
                      text-align: center;
                      border: 1px solid #1C1E19;
                      border-radius: 10px;
                      box-sizing: border-box;
                      padding: 10px;
                      margin: 8px;
                      width: 215px;
                      height: 250px;
                      }
.indiviBox img {}
.indiviBox span {}

.valimgBox .secondBox {display: flex;
                        margin-left: -8px;}


.secondBox>div:nth-child(3) {display: none;}






.deCerti {padding: 80px 0;} 


.deCerti .certi {width: 90%;
  height: auto;
  margin-top: 40px;}
.certi .firstBox {display: flex;
  margin-left: -8px;}

.certiBox {display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  margin: 8px;
  width: 120px;
  height: 130px;}
.certiBox img {}
.certiBox span {}




.proDetails::after {display: block; content: ''; clear: both;} 




/* login 페이지 설정 */

