/* 언어설정 */
@charset 'UTF-8';
/* font setting */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');




/* 
  .raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */


 /* set to reset */
 * {margin: 0;
    padding: 0;
}
a {text-decoration: none;
   color: #bbb; 
}
ul,ol {list-style: none;}
img {border: none;
     vertical-align: bottom;}
body {font-family: "Raleway", sans-serif;}


/* set to background img */

.wrap {position: fixed;
       width: 100%;
       height: 100%;
       left: 0;
       top: 0;
       min-width: 1024px;
       min-height: 768px;
        /*1024*768  */
        background-image: url(img/bg.jpg);
        background-size: cover;
        background-position: center bottom;
        /* background-position만 좌우//////상하 */
}


.leftside {display: flex;
           flex-direction: column; 
           position: relative;
           top: 50%;
           transform: translateY(-100%);  
           margin-left: 70px;  
           width: 440px;
}

.leftside .logo {margin-bottom: 50px;}

.logo>div:nth-child(1) {font-size: 18px;
                        font-family: Times;
                        font-weight: 900;
                        position: relative;
                        left: 50%;
                        transform: translateX(-30%);  
                     }
.logo>div:nth-child(2) {margin-bottom: 20px;
                        margin-left: 10px;}

.logo>div:nth-child(3) {width: 100%;
                        font-size: 11px;
                        letter-spacing: 8px;
                        color: rgb(99, 99, 99);
                      }
.leftside .lowerTxt {font-size: 28px;}
.lowerTxt span {color: rgb(99, 99, 99);}


/* section */
section {position: fixed;
         width: 100%;
         height: 100%;
         right: 0;
         top: 0;
        }

article {float: right;
         width: 12%;
         height: 100%;
         background-image: url(img/divider.png);
         background-repeat: no-repeat;
         background-position: left center;
         overflow: hidden; 
         position: relative;        
}        

article h2 {position: absolute;
            top: 290px;
            left: 20px;
            padding-left: 15px;
            box-sizing: border-box;
            border-left: 3px solid #555;
            font-size: 20px;
            color: #666;
            transition: all 0.5s;
            z-index: 3;
            

}

article div {position: absolute;
             left: 0;
             top: 300px;
             width: 100%;
             height: 0;
             background-color: #000;
             opacity: 0.5;
             z-index: 2;
             transition: all 0.5s;
}
article:hover div {height: 70px;
                   top: 265px; 
}


article:hover h2 {color: #ccc;
    border-left: 3px solid #ccc;}


    /* set to video */
article video {
                position: absolute;
                left: 0;
                top: 0;
                margin-left: -100px;
                height: 100%;
                width: auto;
                z-index: 1;
                opacity: 0;


}  


/* set to hidden contents of article section*/
article h3 {position: absolute;
            font-size: 70px;
            bottom: 110px;
            text-align: right;
            width: 100%;
            color: #fff;
            z-index: 4;
            
            opacity: 0;

}

article p {position: absolute;
           font-size: 12px;
           bottom: 50px;
           text-align: right;
           width: 450px;
           color: #fff;
           z-index: 5;
           right: -560px; 
}