/* 언어설정 */
@charset 'UTF-8';

/* reset css */
* {margin: 0;
   padding: 0; 
}

ul, ol {list-style: none;}
a {text-decoration: none;
   color: #000;    
}
img {border: none;
     vertical-align: bottom;
}



/* nav 설정 */
nav {position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: -100%;
      z-index: 9999999;
}
nav ul {width: 100%;
         height: 100px;
         display: flex;
         justify-content: space-around;
         align-items: center;
         background-color: rgba(255, 255, 255, 0.5); 
}
nav li {color: blueviolet;
         font-size: 30px;
         font-weight: bold;
         cursor: pointer;
         width: 33.3333%;
         height: 100%;
         text-align: center;
         line-height: 3;
         transition: all 0.3s;   
}

nav li:hover {background-color: rgba(0, 0, 0, 0.5);
              color: #fff;  
}
/* wrap 설정 */
.wrap {position: relative;
       width: 100%;
       height: 100vh;
       background-color: #dde1ff; 
       overflow: hidden;

}
.wrap>div {position: absolute;
           perspective: 800px; 
           transition: all 0.8s;

}
.wrap>div img {width: 100%;
               height: 100%;
               object-fit: contain; 
               object-position: center bottom;
}
.wrap>div:nth-child(1) {width: 25vw;
                        height: 85vh; 
                        opacity: 1;
                        top: 0; 
                        left: 50%;
                        transform: translateX(-300%) translateY(7%);
                        z-index: 5;
                        transition: all 1.5s ease-in-out;
}
.wrap>div:nth-child(1).on {transform: translateX(-140%) translateY(7%);}

.wrap>div:nth-child(2) {width: 32vw;
    height: 88vh; 
   
    left: 50%;
    transform: translateX(-50%) translateY(5%);
    top: -100%;  
    z-index: 1;
    transition: all 1.5s ease-in-out; 
}

.wrap>div:nth-child(2).on {top: 0;}
.wrap>div:nth-child(3) {width: 20vw;
    height: 88vh; 
   
    top: 0; 
    left: 50%;
    transform: translateX(250%) translateY(5%);
    z-index: 5;
    transition: all 1.5s ease-in-out;
}

.wrap>div:nth-child(3).on {transform: translateX(100%) translateY(5%);} 


.imgtxt {width: auto;
         text-align: center;
         height: 15vh;
         left: 50%;
         transform: translateX(-50%) translateY(-30%) scale(1.1);
         top: 50%;
         margin-top: -5vh;
         z-index: 2;
}
.imgtxt img {width: 100%;
             height: auto;   
}


.wrap>div p {border: 3px solid #3577e5;
             width: 15vw;
             height: 23vh;
             position: absolute;
             transition: all 0.8s;



}

.wrap>div:nth-child(1) p {bottom: 0;
                          left: 0;
                          transform: translateY(-50%) ;  
}

.wrap>div:nth-child(2) p {top: 0;
    right: 0;
    transform: translateY(30%);  
}

.wrap>div:nth-child(3) p {top: 50%;
    right: 0;
    transform: translateX(50%);  
}



.wrap>div:hover p {transform: translate(0,0)}



.btn {position: absolute;
      width: 11vw;
      height: 8vh;
      background-color: rgba(53, 119, 229, 0.6);
      border: 5px solid #9bbaf0;
      border-radius: 10px;
      left: 50%;
      top: 50%;
      z-index: 55;
      transform: translateX(-50%) translateY(250%);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      
      cursor: pointer;

}

.btn.on {opacity: 1;} 

.btn:hover { background-color: rgba(53, 119, 229, 1);
            border: 5px solid #fff;
}
.btn span {font-size: 24px;
            font-weight: 800;
            color: #fff;
            display: block;
            

}

.wrap>div.off {opacity: 0;}


.wrap2 {width: 100%;
        height: 100vh;
        position: absolute;
        background-color: #828bd6;
        left: 0;
        top: 100%;
        z-index: 100;
}

.wrap2 .inner {
                     position: absolute;
                     width: 100%;
                     height: 100vh;
                     overflow: hidden;
                     background-image: url(img/bg_001.png);
                     left: 0;
                     top: 0;
                     opacity: 1;


}


.wrap2 .inner>div {position: absolute;}



.wrap2 .inner>div:nth-child(1) {
    left: 5vw;
    bottom: -10vh;

}


.wrap2 .inner>div:nth-child(2) {
    right: 10vw;
    bottom: -10vh;

}


.wrap2 .inner>div:nth-child(3) {
    bottom: 0;
    right: 20vw;

}




.wrap3 {width: 100%;
        height: 100vh;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        z-index: 999999;
        overflow: hidden;
        transition: all 1.5s;
        opacity: 0;
}

.wrap3.on {top: 0;
           opacity: 1; 
}


.wrap3 img {object-fit: contain;
            width: 100%;
            height: 100%;
            opacity: 1;

            /* 박스크기와 상관없이 항상 고정값 */
}
.wrap3 .bg {width: 100%;
            height: 100%;
            background-color: #3577e5;
            color: #fff;
            text-shadow: 3px 3px 5px #333;
            font-size: 80px;
            font-weight: bold;
             z-index: 100;   
        }


.wrap3 .img1 {width: 85vw;
              height: 100vh;
              position: absolute;
              z-index: 200;
              left: -500px;
              top: 0;  
}   


.wrap3 .img2 {width: 74vw;
              height: 100vh;
              position: absolute;
              z-index: 2;
              right: -200px;
              bottom: -150px;


}
           
.wrap3 p {position: relative;
          width: 2820px;
          height: 100px;
          opacity: 0.6;
}

.wrap3 span {position: absolute;
             width: 2820px;
             left: 0;
             top: 0;
             

}

.wrap3 p:nth-child(odd) span:nth-child(1) {
                                         left: 0;
animation: m1 50s linear infinite;

}

.wrap3 p:nth-child(odd) span:nth-child(2) {left: 2820px;

animation: m2 50s linear infinite;

}


@keyframes m1 {

    0% {left: 0;}
    50% {left: -2820px;}
    50.000000001% {left: 2820px}
    100% {left: 0px}
}

@keyframes m2 {

    0% {left: 2820px;}
    50% {left: 0;}
    100% {left: -2820px}
}




.wrap3 p:nth-child(even) span:nth-child(1) {
    left: -2820px;
animation: m4 50s linear infinite;

}

.wrap3 p:nth-child(even) span:nth-child(2) {left: 0px;

animation: m3 50s linear infinite;

}

@keyframes m3 {

    0% {left: 0;}
    50% {left: 2820px;}
    50.000000001% {left: -2820px}
    100% {left: 0px}
}

@keyframes m4 {

    0% {left: -2820px;}
    50% {left: 0;}
    100% {left: 2820px}
}
