/* 언어설정 */
@charset 'utf-8';

/* 전체설정 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: none;
    vertical-align: bottom;
}


/* 레이아웃설정 */

#wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    background-color: #FAF6EB;
}

.body {
    overflow-x: hidden;
}



/* ################################################## */






.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 150px;
    position: relative;
    width: 80%;
    margin: 0 auto;
    z-index: 2;

}

.logo {
    font-size: 36px;
    font-family: "Noto Sans KR", serif;
    color: #3D3D3D;

}

.header nav {
    position: absolute;
    right: 0;
}

.header nav ul {
    display: flex;
    justify-content: flex-end;
}

.header nav ul li {}

.header nav ul li a {
    display: block;
    padding: 2px 20px;
    font-size: 18px;
    font-family: "Noto Sans KR", serif;
    color: #3D3D3D;
}

.header nav ul li:nth-child(6) a {
    padding-right: 0px;
}




/* slider_main############################################################### */

/* position 으로 설정해서 겹쳐올라가야함 png파일 */

.slider_main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100vh - 150px);
    position: relative;
    /* background-color: red; */

}

.slider_main .imgBox1 {

    
    position: absolute;
    bottom:100px;
    left: 0;
    z-index: 1;
    /* background-color: yellow; */
   
    height:calc(100vh - 150px);


}

 .slider_main .imgBox1 img {
                            }

.slider_main .txtBox {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    margin-top: 40px;
    position: absolute;
    top: 0;
    right: 10%;

}




.txtBox .txt_upper {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    font-family: "Noto Sans KR", serif;
    color: #3D3D3D;
    background-color: #ffd700;
    padding: 0 5px;
    border-radius: 3px;
    box-shadow: inset 0 -8px 0 rgba(255, 215, 0, 0.5);
    margin: 0;

}



.txtBox .txt_main {

    font-size: 71px;
    text-align: center;
    font-family: "Grandiflora One", serif;
    color: #3D3D3D;
    margin: 0;
}


.txtBox .txt_sub {
    margin-top: 40px;
}

.txtBox .txt_sub p {
    font-size: 26px;
    text-align: end;
    font-family: "Noto Sans KR", serif;
    color: #3D3D3D;
}



.imgBox2 {
    max-width: 200px;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 120px;
    justify-content: flex-end;
    padding: 20px;
    transform: rotate(-20deg);


    /* display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 15;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;*/

}

.imgBox2 .img {}



/* reservation######################################################### */





.reservation {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 3%;
    margin: 0 auto;
    margin-bottom: 20px;

}

.reservation form {}


.reservation .reservation-box {

    width: 80%;
    height: 130px;
    display: flex;
    justify-content: space-between;


    border: 3px solid #3D3D3D;
    border-radius: 10px;
    border-right-width: 7px;
    border-bottom-width: 7px;

    margin: 140px;
    margin-bottom: 0;



}

.reservation .reservation-box .reser_box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    border-right: 0.75px solid #3D3D3D;
    margin-left: 50px;
    font-size: 22px;
    font-family: "Noto Sans KR", serif;
    color: #3D3D3D;
}


.reservation .reservation-box .reser_box1 .purpose {}

.reservation .reservation-box .reser_box1 .selectBox {
    width: 100%;
    margin-top: 2px;
    /* background-color: red; */

    display: flex;
    position: relative;
}

.reservation .reservation-box .reser_box1 .selectBox select {
    position: absolute;

    right: 5%;
    border: none;
    background-color: transparent;
    font-size: 28px;
    font-family: "Noto Sans KR", serif;
}

.reservation .reservation-box .reser_box1 .selectBox i {
    margin-top: 15px;
}

.reservation .reservation-box .reser_box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    width: 580px;
    font-size: 22px;
    font-family: "Noto Sans KR", serif;
    color: #3D3D3D;

}

.reservation .reservation-box .reser_box2 .selectBox {
    margin-top: 2px;
    display: flex;
    position: relative;
}


.reservation .reservation-box .reser_box2 input {
    position: absolute;
    width: 300px;
    right: 100px;
    border: none;
    background-color: transparent;
    font-size: 28px;
    font-family: "Noto Sans KR", serif;
}


.reservation .reservation-box .reser_box2 i {
    margin-top: 15px;
}


.reservation .reservation-box .reser_box3 {
    display: flex;
    position: relative;
    width: 300px;
    color: #F6EBD9;
    background-color: #785379;


}

.reservation .reservation-box .reser_box3 p {
    position: absolute;
    top: 35%;
    left: 35%;
    text-align: center;
    font-size: 28px;
    font-family: "Noto Sans KR", serif;
    font-weight: bold;

}



/* hero부분 포지션 재정리###################################### */


/* .slider_main {display: flex;
              position: relative;
              }


.slider_main .imgBox1 {position: absolute;
                       top: -100px;
                       left: 0;
                       z-index: 1;
                       } 
.slider_main .txtBox {position: absolute;
                      top: 0;
                      right: 10%;}
.slider_main .reservation {position: absolute;
                           bottom: -15%;}
.slider_main .imgBox2 {position: absolute;
                       bottom: -10%;
                    rotate: 340deg;}*/


/* ############################################################## */




.notice_box {

    width: 100%;
    height: auto;
    flex-direction: column;
    margin-top: 300px;


}


.subject_rightBox {
    display: flex;
    position: relative;
}



.subject_right {
    position: absolute;
    top: -300px;
    right: 0;
    width: 40%;
    height: 165px;
    background-color: #F6EBD9;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    margin-top: 150px;

}

.subject_right .subject_txt {
    width: 100%;
    margin-left: 220px;
    padding-top: 25px;
}

.subject_right .subject_txt h2 {
    font-size: 45px;
    font-weight: bold;
    font-family: "Noto Sans KR", serif;
    color: #785379;
}

.subject_right .subject_txt p {
    font-size: 22px;
    font-weight: normal;
    font-family: "Noto Sans KR", serif;
    color: #888888;
}


.contentsBox {
    margin-top: 80px;
    margin-left: 3%;
    width: 90%;
    height: 540px;
    display: flex;

}


.contentsBox .map {
    width: 65%;
    height: 100%;
    background-color: #5B5B5B;
    border-radius: 10px;
    display: flex;
    position: relative;
}

.contentsBox .map .mapBox {}


.contentsBox .map .map_forposition {
    position: absolute;
    right: 0;
    bottom: 0;
}

.contentsBox .map .info-box {
    width: 380px;
    height: 140px;
    border-top-left-radius: 10px;

    position: absolute;
    background-color: #F3E1CB;
    display: flex;
    position: relative;
    border: 8px solid #FAF6EB;
    border-bottom-width: 0;
    border-right-width: 0;
    box-sizing: content-box;

}

.contentsBox .map .info-box .map_textBox {
    position: absolute;
    top: 15%;
    right: 5%;
}

.contentsBox .map .info-box h3 {
    font-size: 28px;
    font-weight: bold;
    font-family: "Noto Sans KR", serif;
    color: #5C5C5C;
    text-align: right;

    border-bottom: 1px solid #948E85;
}

.contentsBox .map .info-box p {
    font-size: 18px;
    font-weight: normal;
    font-family: "Noto Sans KR", serif;
    color: #5C5C5C;
    text-align: right;

    margin-top: 5px;
    line-height: 1;
}

.contentsBox .map .info-box p i {
    vertical-align: bottom;

}


.contentsBox .notice {
    width: 35%;
    height: 100%;

    margin-left: 8px;
}

.contentsBox .notice ul {}

.contentsBox .notice ul li {
    width: 100%;
    min-height: 70px;
    color: #3D3D3D;
    font-family: "Noto Sans KR", serif;
    font-size: 22px;
    border: 2px solid #969696;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    /* 요소를 가로로 배치 */
    align-items: center;
    /* 세로 중앙 정렬 */
    position: relative;
    padding: 15px 15px 15px 15px;
    /* 안쪽 여백 */
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 8px;


}


.contentsBox .notice ul li a {
    flex: 1;
    /* a 태그가 가능한 넓이를 차지하도록 설정 */
    text-align: left;
    /* 가로로 왼쪽 정렬 */
    margin-left: 15px;
    margin-right: 20px;
}


.contentsBox .notice ul li i {
    position: absolute;

    top: 20px;
    right: 15px;
    color: #969696;
}

.contentsBox .notice ul li:nth-child(2) {
    flex-direction: column;
    /* 세로 정렬 */
    align-items: flex-start;
    /* 왼쪽 정렬 */

}

.contentsBox .notice ul li:nth-child(2) p {
    color: #3D3D3D;
    flex: 2;
    /* p 태그가 더 많은 공간을 차지 */
    text-align: left;
    /* 가로로 왼쪽 정렬 */
    margin: 15px;
    /* 기본 여백 제거 */
    margin-left: 15px;
    /* 왼쪽 여백 추가 */
    padding-top: 10px;
    /* 내부 여백으로 공간 확보 */
    border-top: 1px solid #959595;
    /* 상단 테두리 설정 */
    line-height: 1.5;
    /* 줄 간격 조절 */
    word-break: break-word;
    /* 긴 내용 줄바꿈 */
}

.contentsBox .notice .more {
    width: 100%;
    display: flex;
    position: relative;
    /* padding: 8px; */
}





.contentsBox .notice .more a {

    position: absolute;
    right: 0;
    padding: 2px;
    border: 0.75px solid #888888;
    border-radius: 5px;
    text-align: center;
    color: #888888;
    font-size: 18px;
    font-family: "Noto Sans KR", serif;
    /* margin-left: 1380px; */

}





/* newmember########################################## */


.newmember {

    width: 100%;

}

.newmember .subject_left {}

.newmember .btn {
    position: relative;
}

.newmember .btn ul {
    display: flex;
    position: absolute;
    top: -100px;
    right: 10%;
}

.newmember .btn ul li {
    margin-left: 40px;
    scale: 300%;
}

.newmember .btn ul li a {}

.newmember .btn ul li a i {
    color: #785379;
}


.newmember .imgBox {
    display: flex;
    justify-content: center;
}

.newmember .imgBox .imgBox_con {

    display: flex;
    /*  overflow-x: scroll;
    가로 스크롤 활성화 */

    width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;


}

.newmember .imgBox .imgBox_con ul {}

.newmember .imgBox .imgBox_con .card {
    text-align: center;
    background-color: #FAF6EB;
    border-radius: 10px;
    border: 1px solid #3D3D3D;
    padding: 20px;
    margin-right: 8px;
    height: auto;
    max-width: 24.5%;
    flex: 0 0 24.5%;
    padding-bottom: calc(3% * 0.66);
    position: relative;
    overflow: hidden;

}


.card .img_w_bg {
    background-color: #AA7878;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1.15;
    position: relative;
    margin: 0 auto;
    border: 1px solid #3D3D3D;
}


.card .img_w_bg img {
    width: 120%;
    /* 이미지 크기 조정 */
    height: auto;
    /* 이미지 비율 유지 */
    object-fit: cover;
    /* 이미지를 꽉 채움 */
    position: absolute;
    /* 부모 기준 위치 고정 */
    top: 10%;
    left: 0;
}

.card:nth-child(2) .img_w_bg img {
    width: 120%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: -10%;
    left: -17%;

}


.card:nth-child(3) .img_w_bg img {
    width: 120%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 10%;
    left: -10%;

}


.card:nth-child(4) .img_w_bg img {
    width: 120%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: -25%;
    left: -10%;
}

.card:nth-child(2) .img_w_bg {
    background-color: #E19069;
}

.card:nth-child(3) .img_w_bg {
    background-color: #FAF28D;
}

.card:nth-child(4) .img_w_bg {
    background-color: #F3E1CB;
}





.card a {
    display: flex;
    flex-direction: column;
    position: relative;
}


.card .status {
    position: absolute;
    display: flex;
    top: 76%;
    left: 21%;
    align-items: center;
    background-color: #ED7E48;
    color: #fff;
    padding: 1px 15px;
    border-radius: 20px;
    font-size: 22px;
    font-family: "Noto Sans KR", serif;
    margin-bottom: 10px;

}

.card .status .status_txt {
    padding-left: 15px;
    /* 왼쪽 패딩 */
    margin-right: 10px;
}

.card .status .status_txt:nth-child(2) {
    position: relative;
    padding-left: 10px;
}

.card .status .status_txt:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 12%;
    left: -20%;
    height: 80%;
    width: 2px;
    background-color: #fff;
    margin-left: 10px;
    /* 구분선과 텍스트 사이의 간격 추가 */
}



.card .name {
    font-family: "Noto Sans KR", serif;
    font-weight: bold;
    font-size: 28px;
    color: #785379;
    padding: 0;
    margin-top: 10px;
}

.card .location {
    font-size: 22px;
    color: #3D3D3D;
    font-family: "Noto Sans KR", serif;
    margin-top: -2%;
    padding: 0;
}



.newmember .more {
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 32px;
    /* padding: 8px; */
}




.newmember .more a {

    position: absolute;
    top: 0;
    right: 10%;
    padding: 2px;
    border: 0.75px solid #888888;
    border-radius: 5px;
    text-align: center;
    color: #888888;
    font-size: 18px;
    font-family: "Noto Sans KR", serif;
    /* margin-left: 1380px; */

}



/* ######################################################################### */





.slider_second {
    width: 100%;
    margin-top: 150px;
    position: relative;
}

.slider_second .con_box {}




.slider_second .con_box .con1 {
    width: 100%;
    height: 790px;
    background-color: #785379;
    position: relative;
    display: flex;
}

.slider_second .con_box .con1 img {
    position: absolute;
    bottom: -5%;
}

.con1 .txtBox_rescue {
    width: 60%;
    margin-left: 10%;
    margin-top: 5%;
}

.con1 .txtBox_rescue .txt_main {
    font-size: 71px;
    color: #FAF6EB;
    font-family: "Grandiflora One", serif;



    text-shadow:
        -1px -1px 0 #FAF6EB,
        1px -1px 0 #FAF6EB,
        -1px 1px 0 #FAF6EB,
        1px 1px 0 #FAF6EB;
    /* 스트로크 효과 */
}

.con1 .txtBox_rescue .txt_sub {
    font-size: 26px;
    color: #FAF6EB;
    font-family: "Noto Sans KR", serif;
    margin-top: 50px;
}

.con1 .listBox {
    position: relative;
    width: 40%;
    height: 790px;
    overflow: hidden;
    z-index: 1;
    
}

.con1 .listBox ul {position: absolute;
                   top: -13%;
                   }

.con1 .listBox ul li {
    width: 70%;
    height: 35%;
    align-items: center;

    background-color: #FAF6EB;
    border-radius: 10px;
    margin-top: 10px;
    padding: 30px;
    
}

.con1 .listBox ul li:nth-child(odd) {margin-left: 50px;}





.con1 .listBox ul li .text_list {
    font-size: 26px;
    color: #785379;
    font-weight: bold;
    font-family: "Noto Sans KR", serif;
}

.con1 .listBox ul li .text_main {
    font-size: 26px;
    color: #3D3D3D;
    font-weight: normal;
    font-family: "Noto Sans KR", serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

.con1 .listBox ul li .text_info {
    font-size: 18px;
    color: #636363;
    font-family: "Noto Sans KR", serif;
    display: flex;
   
}
.text_info .info_date {margin-left: 10px;
                       /* border-left: 1px solid #636363; */
                       position: relative;
                       padding-left: 5px;
                    }

.text_info .info_date::before {content: '';
    position: absolute;
    top: 22%;
    left: -15%;
    height: 70%;
    width: 2px;
    background-color: #8b8b8b;
    margin-left: 10px;}







.slider_second .con_box .con2 {}

.slider_second .con_box .con3 {}


.slider_second .btn {position: absolute;
                     top: 35%;
                     left: 3%;}

.slider_second .btn ul {}

.slider_second .btn ul li {width: 25px;
                           height: 25px;
                           background-color: #BF9FC0;
                           border-radius: 50%;
                           text-indent: -9999px;
                           margin-top: 32px;}






/* ######################################################################### */
.find {
    width: 100%;
    display: flex;
    margin-top: 150px;
    

}

.find .find_leftside {width: 35%;
    position: relative;
                     
                     
                     
                     }



.find_leftside .subject_left {
    position: absolute;
    top: -50px;
    width: 100%;
    height: 165px;
    background-color: #F6EBD9;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    
}

.find_leftside .search {position: absolute;}

.btnForposition {position: absolute;}

.find_leftside .btn {
    position: relative;
}

.find_leftside .btn ul {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.find_leftside .btn ul li {
    margin-left: 40px;
    scale: 300%;
    
}

.find_leftside .btn ul li a {}

.find_leftside .btn ul li a i {
    color: #785379;
}

.find_leftside .imgForposition {position: absolute;
                                bottom: 0;
                                left: 25%;}



.find .find_rightside {width: 65%;
                      }
.findText {position: relative;
           height: 690px;
            width: auto;}
.imgforPosition {position: absolute;
                 z-index: 1;
                 top: 100px;
                 left: 17.5px;}


.findText .imgBox {width: 365px;
                   height: 295px;
                   overflow: hidden;
                    position: relative;
                    border-radius: 10px;}

.findText img {width: 100%;
               height: auto;
                position: absolute;
                top: -20%;
                }




.findTextbox_bg {width: 400px;
                height: 460px;
                background-color: #F3E1CB;
                border-radius: 10px;
                margin-top: 300px;      
                      }

.findTextbox_bg .findTextbox {padding: 50px;}

.findTextbox h3 {color: #785379;
                 font-family: "Noto Sans KR", serif;
                 font-size: 28px;
                 font-weight: bold;
                 margin-top: -10px;}


.findTextbox_bg .findList_txt {display: flex;
                               align-items: baseline;
                               line-height: 1.8;
                           }

.findUpper {border-bottom: 1px solid #3D3D3D;
            padding: -10px;
            margin-bottom: 10px;
            margin-top: 65px;}

.findList_txt strong {color: #3D3D3D;
                      font-family: "Noto Sans KR", serif;
                      font-size: 22px;
                      font-weight: bold;
                      min-width: 80px; 
                      display: inline-block;}

.findList_txt p {color: #3D3D3D;
                 font-family: "Noto Sans KR", serif;
                 font-size: 22px;
                 font-weight: normal;
                 margin-left: 60px;
                 }

.findLower {margin-bottom: 10px;}
.findLower p {color: #3D3D3D;
                font-family: "Noto Sans KR", serif;
                font-size: 16px;
                font-weight: normal;
                }
.findLower p i {}

.findLower_tap {margin-top: 20px;
                background-color: #785379;
                border-radius: 27px;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                }


.findLower_tap a {
    
    color: #fff;
    font-family: "Noto Sans KR", serif;
    font-size: 28px;
    font-weight: bold;
    
    

}



/* findText img 위치조정#################################### */

.findBox ul li:nth-child(2) .imgBox img {
    top: -65%; 
    left: 0;}

.findBox ul li:nth-child(3) .imgBox img {
    width: 130%;
    top: 0; 
    right: 0;}

/* .card .status {
    position: absolute;
    display: flex;
    top: 76%;
    left: 21%;
   
    
  
    padding: 1px 15px;
   
  
    margin-bottom: 10px;

} */


/* findBox li들 좌우정렬 */
.findBox {overflow-x: hidden;}
.findBox ul {display: flex;}
.findBox ul li {margin-right: 8px;}



/* video####################################################################### */
.videoBox {
    width: 100%;

}

.subject_left {
    width: 40%;
    height: 165px;
    background-color: #F6EBD9;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    margin-top: 150px;
    margin-bottom: 80px;
}

.subject_left .subject_txt {
    width: 100%;
    margin-left: 220px;
    padding-top: 25px;
}

.subject_left .subject_txt h2 {
    font-size: 45px;
    font-weight: bold;
    font-family: "Noto Sans KR", serif;
    color: #785379;
}

.subject_left .subject_txt p {
    font-size: 22px;
    font-weight: normal;
    font-family: "Noto Sans KR", serif;
    color: #888888;
}




.video {
    width: 80%;
    margin: 0 auto;


}

.video .titleBox {
    float: left;
    width: 50%;
}

.video::after {
    display: block;
    content: '';
    clear: both;
}

.video .titleBox:nth-child(odd) {
    padding-right: 15px;
    box-sizing: border-box;
}

.video .titleBox:nth-child(even) {
    padding-left: 15px;
    box-sizing: border-box;
}


.video .titleBox a {
    display: block;
    border: solid 1px #3D3D3D;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;

}

.video .titleBox a img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border: none;
    vertical-align: bottom;
    margin-bottom: 15px;
    border-bottom: solid 1px #3D3D3D;
    padding: 10px;
}

.video .titleBox a h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 26px;
    margin-left: 15px;
    margin-right: 15px;
    color: #785379;
    text-align: center;

}

.video .titleBox a p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 26px;
    margin-left: 15px;
    margin-right: 15px;
    color: #5B5B5B;
    text-align: center;
}


.video .more {
    width: 100%;
    display: flex;
    position: relative;

}

.video .more a {

    position: absolute;
    right: 0;
    padding: 2px;
    border: 0.75px solid #888888;
    border-radius: 5px;
    text-align: center;
    color: #888888;
    font-size: 18px;
    font-family: "Noto Sans KR", serif;
    /* margin-left: 1380px; */

}








/* .info############################################################################# */


.info {
    width: 100%;



}