/* 언어설정 */
@charset 'utf-8';

/* 전체설정 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: none;
    vertical-align: bottom;
}


/* 레이아웃설정 */

#wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}



/* ################################################## */






.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 150px;
    position: relative;
    background-color: #FAF6EB;
}

.logo {
    font-size: 36px;
    font-family: "Noto Sans KR", serif;
    color: #3D3D3D;
    position: absolute;
}

.header nav {
    position: absolute;
    right: 0;
}

.header nav ul {
    display: flex;
    justify-content: flex-end;
}

.header nav ul li {}

.header nav ul li a {
    display: block;
    padding: 2px 20px;
    font-size: 18px;
    font-family: "Noto Sans KR", serif;
    color: #3D3D3D;
}





/* slider_main############################################################### */

/* position 으로 설정해서 겹쳐올라가야함 png파일 */

.slider_main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 740px;

    background-color: #FAF6EB;
    position: relative;
}

.imgBox1 {
    width: 60%;
    display: flex;
    position: relative;
}

.imgBox1 .img {
    position: absolute;
}

.txtBox {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: end;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 10;


}




.txtBox .txt_upper {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    font-family: "Noto Sans KR", serif;
    color: #3D3D3D;
    background-color: #ffd700;
    padding: 0 5px;
    border-radius: 3px;
    box-shadow: inset 0 -8px 0 rgba(255, 215, 0, 0.5);
    margin: 0;

}



.txtBox .txt_main {

    font-size: 71px;
    text-align: center;
    font-family: "Grandiflora One", serif;
    color: #3D3D3D;
    margin: 0;
}


.txtBox .txt_sub {
    margin-top: 40px;
}

.txtBox .txt_sub p {
    font-size: 26px;
    text-align: end;
    font-family: "Noto Sans KR", serif;
    color: #3D3D3D;
}



.imgBox2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #FAF6EB;

    /* display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 15;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;*/

}

.imgBox2 .img {
    width: 150px;
    height: auto;

}



/* reservation######################################################### */





.reservation {
    display: flex;
    width: 100%;
    height: 130px;


    background-color: red;

}

.reservation .reservation-box {
    display: flex;
    justify-content: flex-end;
}

.reservation .reservation-box .reser_box1 {}

.reservation .reservation-box .reser_box2 {}

.reservation .reservation-box .reser_box3 {}







/* ############################################################## */


.notice_box {

    width: 100%;
    height: auto;

    background-color: #FAF6EB;
    margin-top: 20px;

}




.newmember {
    display: flex;
    width: 100%;
    height: 1010px;

    background-color: cornflowerblue;
}

.slider_second {
    width: 100%;
    height: 790px;

    background-color: darkcyan;
}

.find {
    width: 100%;
    height: 1230px;

    background-color: darkslateblue;
}


/* video####################################################################### */
.videoBox {}

.title_left {position: relative;}
.title_left .titleBox_txt {position: absolute;} 

.title_left:nth-child(1) {left: 0;
                          top: 500px;
                          z-index: 3;}

.title_left:nth-child(2) {left: 0;
                          top: 0;
                          z-index: 2;}

.title_left:nth-child(3) {left: 0;
                          top: 0;
                          z-index: 1;}




.video {
    width: 1440px;
        margin: 0 auto;

    background-color: #FAF6EB;
}

.video .titleBox {float: left;
                  width: 50%;}
.video::after {display: block; content: ''; clear: both;}

.video .titleBox:nth-child(odd) {padding-right: 15px;
                                 box-sizing: border-box;}
                        
.video .titleBox:nth-child(even) {padding-left: 15px;
                                 box-sizing: border-box;}


.video .titleBox a {
    display: block;
    border: solid 1px #3D3D3D;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    
}

.video .titleBox a img {
    width: 100%;
    height: auto;
    border: none;
    vertical-align: bottom;
    margin-bottom: 15px;
    border-bottom: solid 1px #3D3D3D;
    padding: 10px;
}

.video .titleBox a h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 26px;
    margin-left: 15px;
    margin-right: 15px;
    color: #785379;
    text-align: center;
    
}

.video .titleBox a p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 26px;
    margin-left: 15px;
    margin-right: 15px;
    color: #5B5B5B;
    text-align: center;
}


.video .more {
    display: block;
    justify-items: end;
    margin-top: 0px;
    width: 100%;
}

.video .more a {
    
    border: 0.75px solid #888888;
    border-radius: 5px;
    text-align: center;
    color: #888888;
    font-size: 18px;
    font-family: "Noto Sans KR", serif;
    
}


/* .info############################################################################# */


.info {
    width: 100%;
    height: 3060px;

    background-color: darkviolet;
}





